<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466656607540-htae8epvdi07773vm0e8394j4sot8221.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466656607540-htae8epvdi07773vm0e8394j4sot8221</string>
	<key>API_KEY</key>
	<string>AIzaSyBWzKcj4eGVh6ZNICkCFoORrCd5tWld5Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>466656607540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.bonjin.Firebase101</string>
	<key>PROJECT_ID</key>
	<string>fir-101-5ecf7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-101-5ecf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466656607540:ios:179f778b5af1225b963961</string>
</dict>
</plist>